<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Currency Conversion</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script>
        angular.module("studentapp",[])
            .controller("mycontroller", function($scope){
                $scope.text = '';
                $scope.priceInRupees = 0;
          const conversionRate = 0.012;
                $scope.convertToDollars = function() {
                    return $scope.priceInRupees * conversionRate;
                };
            });
    </script>
</head>
<body ng-app="studentapp" ng-controller="mycontroller">
    <label>
        Enter Name:
        <input type="text" ng-model="text">
    </label><br>
    Name: {{ text | lowercase }}<br>
    Name: {{ text | uppercase }}<br><br>
    <label>
        Enter Price in Rupees:
        <input type="number" ng-model="priceInRupees" placeholder="Enter price in rupees" min="0" step="0.01">
    </label><br>
        Price in Dollars: {{ convertToDollars() | currency:'USD$' }}
</body>
</html>